---

import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout

  title="Beyond All Maps"

  description="Authentic travel stories and photography from around the world."

>

  <main>

    <h1>Beyond All Maps</h1>

    <p>Portraits of our Planet</p>

  </main>

</MainLayout>