---
import MainLayout from "../layouts/MainLayout.astro";
import Container from "../components/Container.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout
  title="Beyond All Maps"
  description="Authentic travel stories and photography from around the world."
>

  <Container>

<main>

  <Hero />

</main>

  </Container>

</MainLayout>