<header class="site-header">
  <div class="header-container">

    <a href="/" class="logo">
      Beyond All Maps
    </a>

<nav class="main-nav">
  <a href="https://beyondallmaps.exposure.co/" target="_blank" rel="noopener noreferrer">
    Photo Stories
  </a>
  <a href="https://de.pinterest.com/BeyondAllMaps/" target="_blank" rel="noopener noreferrer">
    Pinterest
  </a>
  <a href="#intro">
    About
  </a>
</nav>

  </div>
</header>